table, td, tr{
    text-align: right;
    background:#234465 ;
}
table{
    width: 1000px;
    font-weight:bold;
}
li
{
    list-style-type: none;
}
#search{
    width: 150px;
    border-radius: 5px;
}
button{
    font-weight: bold;
    background:#234465 ;
    border:none;
    height:30px;
    border-radius:8px;

}
a{
    text-decoration: none;
    color: white;
}
button:hover{
    background:#53A1EF;

}
#searchForm{
    width:5px
z-index: 1;
    margin-left:50px;
}
#magnifier{
    position: absolute;
    z-index: 2;
    margin-top:-21px;
    margin-left:-20px;
}
#user{
    position: absolute;
}
#search{
    color:#D6D6D6;
}