
td{
    text-align:center;
    width: 200px;
}
table, th, td{
    border: 1px solid black;
    font-family: Tahoma;

}
th button{
    padding:25px;
    font-size: 25px;
    width:370px;
}
th, td{
    width:80px;
}


#main td{
    height:70px;
}

.tableButtons{
    font-size: 12px;
    height:30px;
}

#beer{
    text-align: right;
    font-size: 30px;

}
#nestedTable td{
    height:0%;
}
button {
    height:75px;
    width:100%;
}